<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<nav class="navbar navbar-default navbar-fixed-top">
  
      
        <!-- logo -->
        <div class="navbar-brand">
          <a class="navbar-item" href="home" style="font-family:Comic Sans MS;font-size:200%">
           CAR WASH
          </a>
        </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/login">Login</a></li>
        &nbsp;&nbsp;
        <li><a href="/reg" routerLinkActive="active">Sign up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
</nav>
